name: Deploy SmartDebt Backend

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_NAME }}.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push container image
        run: |
          docker build . -t ${{ secrets.ACR_NAME }}.azurecr.io/smartdebt-backend:${{ github.sha }}
          docker push ${{ secrets.ACR_NAME }}.azurecr.io/smartdebt-backend:${{ github.sha }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'app-nodejs-smartdebt-backend'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: '${{ secrets.ACR_NAME }}.azurecr.io/smartdebt-backend:${{ github.sha }}'